.task-project {
  border: 2px solid #34c461;
  color: #34c461;
  background: #34c461;
}
.task-project .gantt_task_progress {
  background: #23964d;
}

.task-project .gantt_task_progress_drag {
  visibility: hidden;
}

.task-task {
  border: 2px solid #6ba8e3;
  color: #6ba8e3;
  background: #6ba8e3;
}
.task-task .gantt_task_progress {
  background: #547dab;
}

.slack {
  position: absolute;
  border-radius: 0;
  opacity: 0.7;

  border: none;
  border-right: 1px solid #b6b6b6;
  margin-left: -2px;
  background: #b6b6b6;
  background: repeating-linear-gradient(
    45deg,
    #ffffff,
    #ffffff 5px,
    #b6b6b6 5px,
    #b6b6b6 10px
  );
}

.gantt_task_line.gantt_dependent_task {
  background-color: #65c16f;
  border: 1px solid #3c9445;
}

.gantt_task_line.gantt_dependent_task .gantt_task_progress {
  background-color: #46ad51;
}
